[flake8]
max-line-length = 100
extend-ignore =
    # Handled by black
    E203,
    W503,
    # Too opinionated
    E501,
exclude =
    .git,
    __pycache__,
    .venv,
    build,
    dist,
    *.egg-info,
    migrations,
    docs,
    node_modules,
per-file-ignores =
    tests/*:S101
    openviper/ai/providers/*:E722
